@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kumbh+Sans&family=M+PLUS+2:wght@300&family=Roboto+Slab:wght@300&display=swap');

.attribution{ 
    font-size: 11px; 
    text-align: center; 
}
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}
html{
    height: 100%;
    position: relative;
}
body{
    position: static;
    font-family: 'Kumbh Sans', sans-serif;
    
    background-image: linear-gradient(to top,hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}
.container{
    
    position: absolute;
    height: auto;
    width: 60%;
    background-color: rgb(248, 241, 241);
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.bgimg-con img{
    position: absolute;
    width: 80%;
    height: 160%;
    right: 60%;
    top: -50%;
}
.woman img{
    position: absolute;
    width: 50%;
    right: 60%;
    top: 5%;
}
.box img{
    position: absolute;
    left: -20%;
    top: 30%;
    z-index: 2;
}
.move{
    animation-name: movement;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-play-state: running;
}
@keyframes movement {
    0% {
      transform: translateX(0px);
    }
    42% {
      transform: translateX(-20px);
    }
    100% {
      transform: translateX(-45px);
    }
  }

.content h2{
    padding-top: 5%;
    font-weight: 400;
}
.content{
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
    background-color: rgb(248, 241, 241);
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    padding-left: 30px;
}
.content .row{
    position: relative;
    width: 80%;
    border-bottom: 1px solid rgb(189, 183, 183);
}
.content .row{
    position: relative;
    transition: 0.3s ease-in-out;
}
.content .row {
    position: relative;
    float: left;
    cursor: pointer;
}
.content .row .head img{
    position: relative;
    float: right;
    top: -25px;
    transition: 0.5s linear;
}
.content .row .head h3{
    font-weight: 700;
}
.dropcon{
    display: none;
    padding-bottom: 10%;
    padding-bottom: 7%;
    transition: 0.3s ease-in-out;
    cursor: auto;
}
.rotate{
    transform: rotate(180deg);
}
.show{
    display: block;
}
.row h3:hover{
    cursor: pointer;
    color: hsl(14, 88%, 65%);
}
.highlight{
    color: hsl(237, 12%, 33%);
    transition: 0.3s ease;
    font-size: 12px;
}
.highlight:active{
    color: hsl(14, 88%, 65%);
}